			<footer class="page_footer cs section_padding_top_100 section_padding_bottom_65 table_section ">
				<div class="container ">
					<div class="row">

						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-sm-left">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 col-mobile-12">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-sm-left">
								<div class="widget widget_text">
									<h4 class="widget-title MyLotteRegular">Locally</h4>
									<p class='MyLotteRegular margin_0'>
										서울특별시 노원구 삼육대학교 학생회관 4층<br>
										TEL:010-1234-5678 Email:locally@gmail.com
									</p>
									<hr class='widget-hr'>
									<p class='MyLotteRegular'>
										&copy; Copyright 2019. <br>All Rights Reserved.
										권택준 위보람 전유림
									</p>

								</div>
							</div>

							<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-lg-float-right">
								<div class="widget widget_mailchimp col-md-family col-lg-float-right">
									<h4 class="widget-title MyLotteRegular">Family Site</h4>
										<div class="btn-group dropup">
											<button type="button" class="btn btn-default under-btn under-btn-left">관련사이트</button>
											<button type="button" class="btn btn-default dropdown-toggle under-btn-rigth" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu" role="menu">
											<!-- Dropdown menu links -->
												<li class=''>
													<a href='https://www.syu.ac.kr'>삼육대학교</a>
												</li>
											</ul>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>
</body>
</html>