{% load staticfiles %}
<!DOCTYPE html>
<html class>
<head>
	<title>Locally</title>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" href="../package/css/swiper.min.css"> -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}" class="color-switcher-link">
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
	<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %} "></script>
	
	<style>
	</style>

</head>

<body>
	<!---->

	<div id="canvas">
		<div id="box_wrapper">
			<section class="page_topline ls ms table_section visible-xs">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<!--로그인-->
							<ul class="inline-list menu MyLotteRegular">
								<li>
									<div class="dropdown login-dropdown ">
										<a href="#" id="topline-login" data-target="#" data-toggle="dropdown" class="small-text sm-login">Login</a>
										<div class="dropdown-menu" aria-labelledby="topline-login">

											<form>

												<div class="form-group has-placeholder">
													<label for="topline-login-emali">Emali address</label>
													<input type="emali" class="form-control" id="topline-login-emali" placeholder="Emali Address">
												</div>


												<div class="form-group has-placeholder">
													<label for="topline-login-password">Password</label>
													<input type="password" class="form-control" id="topline-login-password" placeholder="Password">
												</div>

												<div class="content-justify divider_20">
													<div class="checkbox margin_0">
														<input type="checkbox" id="topline-remember_me_checkbox">
														<label for="topline-remember_me_checkbox" class="grey">Rememrber Me
														</label>
													</div>

													<a href="#">
                                            Lost password?
                                        </a>
												</div>


												<button type="submit" class="theme_button block_button color1">Log In</button>
											</form>

											<p class="topmargin_10 text-center grey highlightlinks">
                                    Not a member yet? <a href="{% url 'register' %}">Register now</a>
                                </p>

										</div>
									</div>
								</li>
								<!--회원가입-->
								<li>
									<a href="#" class="small-text">Sign up</a>
								<li class="search">
									<a href="#" class="search_modal_button header-button">
										<i class="fa fa-search" aria-hidden="true"></i>
									</a>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</section>


			<header class="page_header header_white toggler_xs_right MyLotteMedium">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 display_table">
							<div class="header_left_logo display_table_cell">
								<a href="./" class="logo top_logo">
									<img src="{% static 'images/locally_logo_round.png' %}" alt="Locally_logo">
								</a>
							</div>

							<div class="header_mainmenu display_table_cell text-center">
								<!-- main nav start -->
								<nav class="mainmenu_wrapper">
									<ul class="mainmenu nav sf-menu">
										<li>
											<a href="#">Home</a>
										</li>

										<!--menu 1-->
										<li>
											<a href="#" >서울시새소식</a>
											<ul class='MyLotteRegular'>
												<li>
													<a href="#">주택</a>
												</li>
												<li>
													<a href="#" target="_blank">경제</a>
												</li>
												<li>
													<a href="#">교통</a>
												</li>
												<li>
													<a href="#" target="_blank">환경</a>
												</li>
												<li>
													<a href="#">복지</a>
												</li>
												<li>
													<a href="#">안전</a>
												</li>
												<li>
													<a href="#">문화</a>
												</li>
												<li>
													<a href="#">행정</a>
												</li>
											</ul>
										</li>

										<!-- menu 2 -->
										<li>
											<a href="#">구새소식</a>
											<ul class='MyLotteRegular'>
												<li>
													<a href="#">공지사항</a>
												</li>

												<li>
													<a href="#"></a>
												</li>

												<li>
													<a href="#"></a>
												</li>

												<li>
													<a href="#"></a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">커뮤니티</a>
												<ul class='MyLotteRegular'>
													<li>
														<a href="#">자유게시판</a>
													</li>
													<li>
														<a href="#"></a>
													</li>
													<li>
														<a href="#"></a>
													</li>
													<li>
														<a href="#"></a>
													</li>
													<li>
														<a href="#"></a>
													</li>
												</ul>
										</li>
	
									

									</ul>
								</nav>
								<!-- eof main nav -->
								<!-- header toggler -->
								<span class="toggle_menu">
									<span></span>
								</span>
							</div>

							<div class="header_right_buttons display_table_cell text-right hidden-xs ls">
								<ul class="inline-list menu darklinks padding padding-left-146">
									<li>
										<div class="dropdown login-dropdown">
											<a href="#" id="login" data-target="#" data-toggle="dropdown" class="small-text medium MyLotteBold">Login</a>
											<div class="dropdown-menu" aria-labelledby="login">

												<form>

													<div class="form-group has-placeholder MyLotteLight">
														<label for="login-emali">Emali address</label>
														<input type="emali" class="form-control" id="login-emali" placeholder="Emali Address">
													</div>


													<div class="form-group has-placeholder MyLotteLight">
														<label for="login-password">Password</label>
														<input type="password" class="form-control" id="login-password" placeholder="Password">
													</div>

													<div class="content-justify divider_20 MyLotteLight">
														<div class="checkbox margin_0">
															<input type="checkbox" id="remember_me_checkbox">
															<label for="remember_me_checkbox" class="grey">Rememrber Me
															</label>
														</div>

														<a href="#" aria-expanded="false MyLotteLight">
                                            Lost password?
                                        </a>
													</div>


													<button type="submit" class="theme_button block_button color1">Log In</button>
												</form>

												<p class="topmargin_10 text-center grey highlightlinks MyLotteLight">
                                    Not a member yet? <a href="{% url 'register' %}">Register now</a>
                                </p>

											</div>
										</div>
									</li>
									<!-- <li>
										<a href="#" class="small-text medium">Sign up</a>
									</li> -->
									<li class="search">
										<a href="#" class="search_modal_button header-button">
											<i class="fa fa-search" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="swiper-container">
					<h5>서울시 새소식</h5>
					<div class="swiper-wrapper">
					  <div class="swiper-slide">Slide 1</div>
					  <div class="swiper-slide">Slide 2</div>
					  <div class="swiper-slide">Slide 3</div>
					  <div class="swiper-slide">Slide 4</div>
					  <div class="swiper-slide">Slide 5</div>
					  <div class="swiper-slide">Slide 6</div>
					  <div class="swiper-slide">Slide 7</div>
					  <div class="swiper-slide">Slide 8</div>
					  <div class="swiper-slide">Slide 9</div>
					  <div class="swiper-slide">Slide 10</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
			</div>
			<div class="swiper-container">
					<h5>우리동네 새소식</h5>
					<div class="swiper-wrapper">
					  <div class="swiper-slide">Slide 1</div>
					  <div class="swiper-slide">Slide 2</div>
					  <div class="swiper-slide">Slide 3</div>
					  <div class="swiper-slide">Slide 4</div>
					  <div class="swiper-slide">Slide 5</div>
					  <div class="swiper-slide">Slide 6</div>
					  <div class="swiper-slide">Slide 7</div>
					  <div class="swiper-slide">Slide 8</div>
					  <div class="swiper-slide">Slide 9</div>
					  <div class="swiper-slide">Slide 10</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
			</div>
			<div class="row">
					<div class="col-md-6 mb-3" style="margin-left:50px;">
						<h5>지도</h5>
						<div id="map-canvas"></div>
						<div id="pano"></div>
					</div>
					<div class="col-md-5 mb-3">
							<h5>서울은 지금</h5>
							<div class="fb-page" data-href="https://www.facebook.com/seoulnpocenter" data-tabs="timeline" data-width="290px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/seoulnpocenter" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/seoulnpocenter">서울시청</a></blockquote></div>		
							<div class="fb-page" data-href="https://www.facebook.com/seoul.kr" data-tabs="timeline" data-width="290px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/seoul.kr" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/seoul.kr/">서울시청</a></blockquote></div>	
					</div>

			</div>
			<footer class="page_footer cs section_padding_top_100 section_padding_bottom_65 table_section ">
				<div class="container ">
					<div class="row">

						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-sm-left">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 col-mobile-12">
							<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-sm-left">
								<div class="widget widget_text">
									<h4 class="widget-title MyLotteRegular">Locally</h4>
									<p class='MyLotteRegular margin_0'>
										서울특별시 노원구 삼육대학교 학생회관 4층<br>
										TEL:010-1234-5678 Email:locally@gmail.com
									</p>
									<hr class='widget-hr'>
									<p class='MyLotteRegular'>
										&copy; Copyright 2019. <br>All Rights Reserved.
										권택준 위보람 전유림
									</p>

								</div>
							</div>

							<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-lg-float-right">
								<div class="widget widget_mailchimp col-md-family col-lg-float-right">
									<h4 class="widget-title MyLotteRegular">Family Site</h4>
										<div class="btn-group dropup">
											<button type="button" class="btn btn-default under-btn under-btn-left">관련사이트</button>
											<button type="button" class="btn btn-default dropdown-toggle under-btn-rigth" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu" role="menu">
											<!-- Dropdown menu links -->
												<li class=''>
													<a href='https://www.syu.ac.kr'>삼육대학교</a>
												</li>
											</ul>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://unpkg.com/swiper/js/swiper.js"></script>
	<script src="{% static 'js/compressed.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
